<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Nearby Locations</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <!-- <button ion-button (click)="openPage()">
      <ion-icon name="menu"></ion-icon>
    </button>
     -->
     <button *ngIf="!locationList" ion-button full class="mainButton" (click)="findLocations()">Find A Location</button>

    <div class="loading" *ngIf="loading">LOADING</div>
  <div #map id="map"></div>
  <button *ngIf="mapLoaded" ion-button full dark class="nextButton" (click)="nextLocations(this.data)">
    Next Location
  </button>
  <button id="go" *ngIf="mapLoaded" ion-button full class="detailsButton" (click)="openPage(this.currentItem)">Details</button>

</ion-content>
