.portrait-crop{
    overflow: hidden;
    height: 30%;
    white-space: nowrap;
    text-align: center; margin: 1em 0;
}

.portrait-crop img{
}

.full_button{
  width:100%;
  font-size: 2em;
  text-decoration: none;
  color: #fff;
  padding: 10%;
  text-align: center;
  background: #545454;
  display: block;
}

.scroll-content{
  background-image: url("../assets/img/blurMap2.png");
}
